@model Usuario

@{
    Layout = null;
    ViewBag.Title = "MostrarInformacion";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>ST @Model.nombre</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <style type="text/css">
        body {
            padding-top: 0px;
            padding-bottom: 0px
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container ">
            <div class="navbar-brand">
                @Html.ActionLink("Star Technology", "Index", "Index", new { area = "" }, new { @class = "text-warning text-decoration-none font-weight-bold" })
                <i class="large material-icons text-warning">star_half</i>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item mr-2 mt-2 mb-2">@Html.ActionLink("Ver mi Carrito", "Index", "Carrito", new { area = "" }, new { @class = "text-white text-decoration-none nav-link active btn border border-primary rounded" })</li>
                    <li class="nav-item mr-2 mt-2 mb-2 btn btn-light" data-toggle="modal" data-target="#exampleModal">

                        Mi Perfil

                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header badge-dark">
                                        <h5 class="modal-title" id="exampleModalLabel">Mis Datos Personales</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-left">
                                        <h5 class="">Mi Nombre Completo </h5>

                                        <div class="card mt-2 mb-2">
                                            <div class="list-group list-group-flush">
                                                @Model.nombre @Model.primerApellido @Model.segundoApelldo
                                            </div>
                                        </div>

                                        <h5 class="">Mi Correo Electronico</h5>
                                        <div class="card mt-1 mb-1">
                                            @Model.correo
                                        </div>

                                        <h5>Mi Direccion</h5>
                                        <div class="card mt-1 mb-1">
                                            @Model.direccionEnvio
                                        </div>

                                        <h6>Mi Identificacion de Usuario</h6>
                                        <div class="card mt-1 mb-1">
                                            @Model.idUsuario
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success btn-block" data-dismiss="modal">Cerrar Ventana</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item mr-2 mt-2 mb-2 text-white text-decoration-none nav-link
                        active btn btn-danger rounded" onclick="cerrarSesion()">
                        Cerrar Sesion
                    </li>


                </ul>
            </div>

        </div>
    </nav>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("/JavaScripts/CerrarSesion.js")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>




<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>